

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex flex-wrap align-items-center justify-content-between">
                            <!-- Top Header Meta -->
                            <div class="top-header-meta d-flex flex-wrap">
                                <a href="#" class="open" data-toggle="tooltip" data-placement="bottom" title="10 Am to 6 PM"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Открыты: с 9.00 до 18.00</span></a>
                                <!-- Social Info -->
                                <div class="top-social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Top Header Meta -->
                            <div class="top-header-meta">
                                <a href="mailto:info.deercreative@gmail.com" class="email-address"><i class="fa fa-envelope" aria-hidden="true"></i> <span>info.deercreative@gmail.com</span></a>
                                <a href="#" class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span>+12 345 678 910</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Top Header Area ***** -->

        <!-- ***** Navbar Area ***** -->
        <div class="crose-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="croseNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand header-logo"><img src="/static/img/core-img/emblem.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li><a href="#">Страницы</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="sermons.html">Sermons</a></li>
                                            <li><a href="sermons-details.html">Sermons Details</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="single-post.html">Blog Details</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
<!--                                    <li><a href="#">Подменю</a>-->
<!--                                        <div class="megamenu">-->
<!--                                            <ul class="single-mega cn-col-4">-->
<!--                                                <li><a href="index.html">Home</a></li>-->
<!--                                                <li><a href="about.html">About</a></li>-->
<!--                                                <li><a href="sermons.html">Sermons</a></li>-->
<!--                                                <li><a href="sermons-details.html">Sermons Details</a></li>-->
<!--                                                <li><a href="events.html">Events</a></li>-->
<!--                                                <li><a href="blog.html">Blog</a></li>-->
<!--                                                <li><a href="single-post.html">Blog Details</a></li>-->
<!--                                                <li><a href="contact.html">Contact</a></li>-->
<!--                                            </ul>-->
<!--                                            <ul class="single-mega cn-col-4">-->
<!--                                                <li><a href="index.html">Home</a></li>-->
<!--                                                <li><a href="about.html">About</a></li>-->
<!--                                                <li><a href="sermons.html">Sermons</a></li>-->
<!--                                                <li><a href="sermons-details.html">Sermons Details</a></li>-->
<!--                                                <li><a href="events.html">Events</a></li>-->
<!--                                                <li><a href="blog.html">Blog</a></li>-->
<!--                                                <li><a href="single-post.html">Blog Details</a></li>-->
<!--                                                <li><a href="contact.html">Contact</a></li>-->
<!--                                            </ul>-->
<!--                                            <ul class="single-mega cn-col-4">-->
<!--                                                <li><a href="index.html">Home</a></li>-->
<!--                                                <li><a href="about.html">About</a></li>-->
<!--                                                <li><a href="sermons.html">Sermons</a></li>-->
<!--                                                <li><a href="sermons-details.html">Sermons Details</a></li>-->
<!--                                                <li><a href="events.html">Events</a></li>-->
<!--                                                <li><a href="blog.html">Blog</a></li>-->
<!--                                                <li><a href="single-post.html">Blog Details</a></li>-->
<!--                                                <li><a href="contact.html">Contact</a></li>-->
<!--                                            </ul>-->
<!--                                            <ul class="single-mega cn-col-4">-->
<!--                                                <li><a href="index.html">Home</a></li>-->
<!--                                                <li><a href="about.html">About</a></li>-->
<!--                                                <li><a href="sermons.html">Sermons</a></li>-->
<!--                                                <li><a href="sermons-details.html">Sermons Details</a></li>-->
<!--                                                <li><a href="events.html">Events</a></li>-->
<!--                                                <li><a href="blog.html">Blog</a></li>-->
<!--                                                <li><a href="single-post.html">Blog Details</a></li>-->
<!--                                                <li><a href="contact.html">Contact</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="sermons.html">Проповеди</a></li>
                                    <li><a href="blog.html">Статьи</a></li>
                                    <li><a href="contact.html">Связаться</a></li>
                                </ul>

                                <!-- Search Button -->
                                <div id="header-search"><i class="fa fa-search" aria-hidden="true"></i></div>

                                <!-- Donate Button -->
                                <a href="#" class="btn crose-btn header-btn">Пожертвовать</a>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>

            <!-- ***** Search Form Area ***** -->
            <div class="search-form-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="searchForm">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                    <button type="submit" class="d-none"></button>
                                </form>
                                <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Navbar Area ***** -->
    </header>
    <!-- ##### Header Area End ##### -->